/* src/components/UserNickname.css */

.nickname-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2fff0;
}

.nickname-card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 300px;
}

.nickname-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.nickname-card p {
  margin-bottom: 20px;
  color: #666;
}

.nickname-card input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 10px;
  outline: none;
  width: 80%;
  margin-bottom: 20px;
}

.nickname-card button {
  background-color: #4caf50;
  color: white;
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.nickname-card button:hover {
  background-color: #388e3c;
}
